{% extends "layouts/main.html" %}

{% set pageName="We cannot link this account" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageName }}
      </h1>

      <p> We could not link this Make account to your GOV.UK One Login. This could be because:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the account does not exist</li>
        <li>the account has already been linked</li>
        <li>the account has been deleted</li>
      </ul>
      <p>You can try again to link a different Make account, or create a new one.</p>

      {{ govukButton({
        text: "Try again",
        href: "link-or-create"
      }) }}
    </div>
  </div>
{% endblock %}
